<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th>No</th>
					<th>Code</th>
					<th>Name</th>
					<th>Status</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>cvxv</td>
					<td>xcv</td>
					<td>xcv</td>
					<td>xcv</td>
				</tr>
				<tr>
					<td>2</td>
					<td>cvxv</td>
					<td>xcv</td>
					<td>xcv</td>
					<td>xcv</td>
				</tr>
				<tr>
					<td>3</td>
					<td>cvxv</td>
					<td>xcv</td>
					<td>xcv</td>
					<td>xcv</td>
				</tr>
			</tbody>
		</table>
	</div>

	<br />

	<div class="span12">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="text" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox">
						Remember me </label>
					<button type="submit" class="btn btn-primary">
						Sign in <i class=" icon-circle-arrow-right"></i>
					</button>
				</div>
			</div>
		</form>
	</div>

	<br />

	<div class="span12">
		<div class="controls">
			<input class="span5" type="text" placeholder=".span5">
		</div>
		<div class="controls controls-row">
			<input class="span4" type="text" placeholder=".span4">
			<input class="span1" type="text" placeholder=".span1">
		</div>
		<div class="controls controls-row">
			<input class="span2" type="text" placeholder=".span2">
			<input class="span2" type="text" placeholder=".span2">
			<input class="span1" type="text" placeholder=".span1">
		</div>
	</div>

	<br />

	<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
	<a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a>

	<br />
	<br />

	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Collapsible Group Item #1 </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Collapsible Group Item #2 </a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Modal header</h3>
	</div>
	<div class="modal-body">
		<p>
			One fine body…
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary">
			Save changes
		</button>
	</div>
</div>